@charset "utf-8";

/* --------------------------------
        .共通パーツ
-------------------------------- */
/* レイアウト */
@font-face {
    font-family: "03SmartFontUI";
    src: url("../fonts/03SmartFontUI.ttf");
}
@font-face {
    font-family: "せのびレギュラー";
    src: url("../fonts/Senobi-Gothic-Regular\ 20.58.13.ttf");
}
@font-face {
    font-family: "せのびゴシック";
    src: url("../fonts/Senobi-Gothic-Bold.ttf");
}
textarea {
    resize: none;
}
.container {
    max-width: 1117px;
}
.container-bg {
    position: relative;
    background: linear-gradient(#355469 0%, #1b2a35 100%);
}

/* ナビバー */
.navbar .container {
    max-width: 1320px;
}
.navbar-expand-md {
    height: 100px;
    border-bottom: 1px solid #FCE4E7;
    background-color: inherit !important;
}
@media (max-width: 599px) {
    .navbar-expand-md {
        height: 70px;
    }
}
.navbar-light .navbar-toggler {
    background-color: rgba(255, 255, 255, 0.5);
}
.navbar-light .navbar-brand,
.navbar-light .navbar-nav .nav-link {
    color: #FCE4E7;
    transition: all 0.5s;
}
.navbar-light .navbar-brand:hover,
.navbar-light .navbar-nav .nav-link:hover {
    color: #FCE4E7;
    opacity: 0.7;
}
.navbar-light .navbar-nav.auth .nav-link {
    color: #FCE4E7;
}
.navbar-light .navbar-nav.auth .nav-link.dropdown-toggle {
    font-size: 20px;
}
.navbar-brand {
    font-family: "せのびレギュラー";
    font-size: 25px;
    text-shadow: 3px 3px 3px black;
}
.navbar-light .navbar-nav .nav-link {
    font-family: "Hiragino Kaku Gothic ProN";
    font-size: 17px;
}
.navbar-expand-md .navbar-nav .nav-item:first-child {
    margin-left: 30px;
    margin-right: 20px;
}
.navbar-light .navbar-nav.auth .nav-link {
    font-family: "Hiragino Kaku Gothic ProN";
    font-size: 17px;
}
.navbar-expand-md .navbar-nav.auth .nav-item:first-child {
    margin-left: 0;
    margin-right: 10px;
}
.dropdown-menu {
    padding: 0;
    min-width: 8rem;
}
.dropdown-item {
    padding: 0.5rem 0;
    font-family: "Hiragino Kaku Gothic ProN";
    text-align: center;
    border: 1px solid rgba(0, 0, 0, 0.15);
}
.dropdown-item:first-child:hover {
    border-radius: 0.25rem 0.25rem 0 0;
}
.dropdown-item:nth-child(2):hover {
    border-radius: 0 0 0.25rem 0.25rem;
}
.navbar-expand-md .navbar-nav .nav-item hr {
    display: none;
}
.sp {
    display: none;
}
@media(max-width: 767px) {
    .navbar {
        padding: 0;
    }
    .navbar-light .navbar-brand {
        margin-left: 3%;
    }
    .navbar-light .navbar-toggler {
        margin-right: 3%;
    }
    .navbar-collapse {
        width: 100%;
        background-image: url('../img/nav-bg.jpg');
        background-position: center;
        z-index: 100;
        filter: grayscale(80%);
    }
    .navbar-expand-md .navbar-nav {
        margin-left: 0 !important;
    }
    .navbar-expand-md .navbar-nav .nav-item:first-child {
        margin: 0;
    }
    .navbar-expand-md .navbar-nav .nav-item hr {
        display: block;
        border-top: 1px solid #fff;
        margin: 0;
        opacity: .4;
    }
    .navbar-light .navbar-nav.auth .nav-item:last-child {
        border-bottom: none;
    }
    .navbar-expand-md .navbar-nav.auth .nav-item:first-child {
        margin: 0;
    }
    .navbar-light .navbar-nav .nav-link {
        padding: 1.5em;
        opacity: 1;
        font-size: 20px;
    }
}
@media (max-width: 767px) {
    .pc {
        display: none;
    }
    .sp {
        display: block;
    }
    .navbar-expand-md .navbar-nav.sp {
        position: absolute;
        right: 100px;
    }
    .navbar-expand-md .navbar-nav.sp .nav-item {
        border: none;
    }
    .navbar-light .navbar-nav.sp .nav-link {
        padding: 0;
        color: #fce4e7;
        font-size: 30px;
    }
    .navbar-light .navbar-nav.auth .nav-link {
        font-size: 20px;
    }
    .navbar-nav .dropdown-toggle::after {
        content: none;
    }
    .navbar-nav .dropdown-item {
        padding: 1em;
    }
    .navbar-light .navbar-nav.auth .nav-link.dropdown-toggle .fas {
        margin-right: 8px;
    }
}

/* ----- #page_top ----- */
#page_top {
    width: 60px;
    height: 60px;
    position: fixed;
    right: 150px;
    bottom: 150px;
    background: inherit;
    opacity: 0.6;
    border: 1px solid #fff;
    border-radius: 50%;
}
@media(max-width: 1300px) {
    #page_top {
        right: 100px;
    }
}
@media(max-width: 1200px) {
    #page_top {
        right: 50px;
    }
}
@media(max-width: 1050px) {
    #page_top {
        right: 30px;
        background: rgba(255, 255, 255, 0.5);
    }
}
@media(max-width: 680px) {
    #page_top {
        left: 20px;
        bottom: 50px;
        border: 1px solid #fff;
        z-index: 20;
    }
}
#page_top a {
    position: relative;
    display: block;
    width: 60px;
    height: 60px;
    text-decoration: none;
}
#page_top a::before {
    font-family: 'Font Awesome 5 Free';
    font-weight: 900;
    content: '\f062';
    font-size: 20px;
    color: #fff;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-55%, -55%);
}
@media(max-width: 1050px) {
    #page_top a::before {
        color: #000;
    }
}
/* ----- #favorite ----- */
.card .card-heat .btn {
    font-size: 20px;
}
@media (max-width: 460px) {
    .card .card-heat .btn {
        font-size: 18px;
    }
}
.heat {
    transition: all .3s ease 0s;
}
.big-heat {
    transform: scale(1.2, 1.2);
}
/* ----- modal----- */
.dropdown-toggle::after {
    content: none;
}
.modal-dialog {
    margin: 30vh auto;
}

/* ----- footer ----- */
.footer {
    position: absolute;
    z-index: 10;
    width: 100%;
    height: 100px;
    background: linear-gradient(#00577c 0%, #004562 0%, #003f59 0%, #002c3e 100%);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 0 5%;
}
.footer h3 {
    color: white;
    font-size: 26px;
    margin-top: 10px;
    margin-bottom: 10px;
    text-shadow: 3px 3px 3px black;
    font-family: "せのびレギュラー";
}
.footer p {
    color: white;
    font-family: "Hiragino Kaku Gothic ProN";
    font-size: 15px;
    font-weight: bold;
}
@media (max-width: 599px) {
    .footer p {
        font-size: 10px;
    }
}

/* --------------------------------
    article-index & user-page
-------------------------------- */
#article-index .cards,
#user-page .cards {
    margin: 0 auto;
}
@media (max-width: 460px) {
    #article-index .cards,
    #user-page .cards {
        padding: 0;
    }
}
#article-index .card,
#user-page .card {
    padding: 0;
    border: 0;
    margin: 0 auto;
    background: rgba(255, 255, 255, .8);
}
#article-index .dropdown-menu,
#user-page .dropdown-menu {
    border: 0;
}
#article-index .dropdown-item:first-child,
#user-page .dropdown-item:first-child {
    border-bottom: 0;
}
#article-index .dropdown-divider,
#user-page .dropdown-divider {
    margin: 0;
    border: 0;
}
#article-index .card img,
#user-page .card img {
    width: 250px;
    height: 300px;
    border-radius: 0.25rem 0 0 0.25rem;
    transition: all 0.3s;
    object-fit: cover;
}
@media (max-width: 900px) {
    #article-index .card img,
    #user-page .card img {
        width: 200px;
    }
}
@media (max-width: 650px) {
    #article-index .card img,
    #user-page .card img {
        width: 150px;
        height: 200px;
    }
}
@media (max-width: 460px) {
    #article-index .card img,
    #user-page .card img {
        width: 120px;
        height: 180px;
    }
}
#article-index .card img:hover,
#user-page .card img:hover {
    opacity: 0.9;
}
#article-index .no-gutters,
#user-page .no-gutters {
    height: 300px;
}
@media (min-width: 651px) {
    #article-index .no-gutters .card-img,
    #user-page .no-gutters .card-img {
        flex: 0 0 33.33333333%;
        max-width: 33.33333333%;
    }
}
@media (min-width: 651px) {
    #article-index .no-gutters .card-info,
    #user-page .no-gutters .card-info {
    flex: 0 0 66.66666667%;
    max-width: 66.66666667%;
    }
}
@media (max-width: 650px) {
    #article-index .no-gutters,
    #user-page .no-gutters {
        height: 200px;
        display: flex;
    }
    #article-index .no-gutters .card-img,
    #user-page .no-gutters .card-img {
        width: 150px;
    }
    #article-index .no-gutters .card-info,
    #user-page .no-gutters .card-info {
        width: calc(100% - 150px);
    }
}
@media (max-width: 460px) {
    #article-index .no-gutters,
    #user-page .no-gutters {
        height: 180px;
        display: flex;
    }
    #article-index .no-gutters .card-img,
    #user-page .no-gutters .card-img {
        width: 120px;
    }
    #article-index .no-gutters .card-info,
    #user-page .no-gutters .card-info {
        width: calc(100% - 120px);
    }
}
#article-index .card .card-content,
#user-page .card .card-content {
    position: relative;
    height: 200px;
}
@media (max-width: 700px) {
    .fa-user-circle {
        font-size: 2em;
    }
    .user-info {
        width: 100%;
        display: flex;
        justify-content: space-between;
    }
    .card .dropdown {
        top: -8px;
        right: -8px;
    }
}
@media (max-width: 650px) {
    #article-index .card .card-content,
    #user-page .card .card-content {
        height: 130px;
    }
}
@media (max-width: 460px) {
    #article-index .card .card-content,
    #user-page .card .card-content {
        height: 125px;
    }
    .card .font-weight-lighter {
        display: none;
    }
}
#article-index .card .card-title,
#user-page .card .card-title {
    margin-bottom: 0;
    font-family: "Noto Serif Myanmar";
    font-weight: bold;
    text-shadow: 4px 3px 3px rgb(0 0 0 / 16%);
}
#user-page .card .card-title {
    margin-top: 10px !important;
}
@media (max-width: 650px) {
    #user-page .card .card-title {
        margin-top: 0 !important;
    }
}
#article-index .card .card-title a,
#user-page .card .card-title a {
    text-decoration: none;
}
#article-index .card .card-text,
#user-page .card .card-text {
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 5;
    overflow: hidden;
}
@media(max-width: 650px) {
    #article-index .card .card-body,
    #user-page .card .card-body {
        padding: 15px;
    }
    #article-index .card .card-title a,
    #user-page .card .card-title a {
        font-size: 18px;
    }
    #article-index .card .card-text,
    #user-page .card .card-text {
        -webkit-line-clamp: 3;
        font-size: 12px;
    }
}
@media(max-width: 460px) {
    #article-index .card .card-body,
    #user-page .card .card-body {
        padding-bottom: 0;
    }
    #user-page .card .card-body:nth-child(2) {
        padding-top: 0;
        padding-bottom: 10px;
    }
    #user-page .card .person {
        padding-bottom: 15px;
    }
}
#article-index .card .card-heat,
#user-page .card .card-heat {
    position: absolute;
    bottom: 0;
    right: 50px;
    font-size: 18px;
    z-index: 1;
}
@media(max-width: 460px) {
    #article-index .card .card-heat,
    #user-page .card .card-heat {
        right: 25px;
        font-size: 15px;
    }
}

/* --------------------------------
    article-index & article-show
-------------------------------- */
#article-index,
#article-show {
    padding-bottom: 50px;
    max-width: 900px;
}
#article-index h1,
#article-show h1 {
    margin-top: 50px;
    font-family: "せのびレギュラー";
    font-size: 35px;
    color: #fff;
    text-shadow: 5px 4px 3px #000;
}
@media (max-width: 599px) {
    #article-index h1,
    #article-show h1 {
        margin-top: 40px;
        margin-bottom: 30px !important;
        font-size: 30px;
    }
}

/* --------------------------------
            article-show
-------------------------------- */
#article-show .back-btn {
    margin-top: 50px;
    margin-bottom: 35px;
}
#article-show .back-btn.back-btn-bt {
    margin-top: 40px;
}
#article-show .back-btn a {
    color: #fff;
    text-decoration: none;
    transition: all 0.5s;
}
#article-show .back-btn a:hover {
    opacity: 0.5;
}
.show-container .container-top {
    height: 60px;
    background: linear-gradient(#baa68b 0%, #5d5346 100%);
    text-align: center;
}
.show-container .container-top img {
    width: 60px;
}
.show-container .container-top a {
    width: 120px;
    height: 75%;
    border: 0;
    color: #fff;
    background: linear-gradient(#356945 0%, #1b3523 100%);
    box-shadow: 0px 3px 6px rgba(0, 0, 0, 0.16);
    transition: all 0.5s;
}
.show-container .container-top a:hover {
    opacity: 0.7;
}
.show-container .container-bottom {
    padding: 40px 20px;
    border: 1px solid #fce4e7;
    background: rgba(255, 255, 255, 0.8);
}
@media (max-width: 599px) {
    .show-container .container-bottom {
        padding: 20px;
    }
}
.show-container .container-bottom .bt-contents {
    max-width: 800px;
    margin: 0 auto;
}
.bt-contents .bt-title h2 {
    margin-top: 30px;
    font-family: "Noto Serif Myanmar";
    font-weight: bold;
    color: #2B843C;
    text-shadow: 4px 3px 3px rgba(0, 0, 0, 0.16);
}
#article-show .card-heat {
    font-size: 20px;
}
@media (max-width: 599px) {
    #article-show .card-heat {
        width: 52px;
    }
}
#article-show .card-heat .btn {
    font-size: 20px;
}
.bt-contents .bt-content {
    display: flex;
    justify-content: space-between;
    margin-top: 20px;
}
@media (max-width: 570px) {
    .bt-contents .bt-content {
        flex-direction: column;
    }
}
.bt-contents .bt-content .content-left {
    width: 40%;
}
@media (max-width: 570px) {
    .bt-contents .bt-content .content-left {
        width: 70%;
        margin: 0 auto;
    }
}
.bt-contents .bt-content .content-left img {
    width: 100%;
}
@media (max-width: 570px) {
    .bt-contents .bt-content .content-left img {
        max-height: 400px;
        object-fit: cover;
    }
}
.bt-contents .bt-content .content-right {
    width: 55%;
}
@media (max-width: 570px) {
    .bt-contents .bt-content .content-right {
        width: 100%;
        margin-top: 30px;
    }
}
.content-right .tag-group .tag {
    display: flex;
    height: 37px;
    line-height: 37px;
    margin-bottom: 15px;
    font-family: "ヒラギノ丸ゴ ProN";
}
.content-right .tag-group .tag span {
    width: 80px;
    margin-right: 20px;
    background: #355469;
    color: #fff;
    font-size: 16px;
    box-shadow: 6px 6px 5px rgba(0, 0, 0, 0.16) inset;
    text-align: center;
}
.content-right .tag-group .tag p {
    font-size: 18px;
    color: #355469;
}
.content-right .material-title,
.content-right .comment-title {
    padding: 0 5px;
    margin-top: 48px;
    font-family: "Noto Serif Myanmar";
    font-size: 22px;
    font-weight: 600;
    color: #00577C;
}
.content-right hr {
    margin: 0;
}
.content-right .material,
.content-right .comment {
    font-family: "Hiragino Kaku Gothic ProN";
    padding: 0 5px;
    margin-top: 15px;
    line-height: 1.8rem;
}

/* --------------------------------
    article-create & article-edit
-------------------------------- */
#article-create,
#article-edit {
    padding-top: 65px;
    padding-bottom: 80px;
    max-width: 1000px;
}
@media (max-width: 460px) {
    #article-create,
    #article-edit {
        padding-top: 45px;
    }
}
#article-create h1,
#article-edit h1 {
    margin-bottom: 30px;
    font-size: 30px;
}
@media (max-width: 460px) {
    #article-create h1,
    #article-edit h1 {
        font-size: 25px;
    }
    #article-create h1 img,
    #article-edit h1 img {
        width: 35px;
    }
}
.form-container {
    padding-top: 37px;
    padding-bottom: 40px;
}
.form-inner {
    width: 92%;
    height: 96%;
    padding-bottom: 40px;
    margin: 0 auto;
    background-color: rgba(255, 255, 255, .8);
}
.article-form {
    padding-top: 60px;
}
@media (max-width: 1000px) {
    .article-form {
        max-width: 90%;
    }
}
@media (max-width: 460px) {
    .article-form {
        padding-top: 40px;
        padding-left: 0;
        padding-right: 0;
    }
}
@media (max-width: 768px) {
    .form-content-top {
        flex-direction: column;
    }
}
.form-content-top .form-tp-left {
    position: relative;
    width: 34%;
}
@media (max-width: 768px) {
    .form-content-top .form-tp-left {
        width: 100%;
        height: 250px;
        border: 1px solid #BAA68B;
        margin: 0 auto;
        border-radius: 15px;
    }
}
@media (max-width: 768px) {
    .form-content-top .form-tp-left {
        height: 300px;
    }
}
.form-content-top .form-tp-left .file-preview {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
}
.form-content-top .form-tp-left .file-preview #preview {
    max-height: 265px;
}
@media (max-width: 768px) {
    .form-content-top .form-tp-left .file-preview {
        top: 50%;
        left: 60px;
        transform: translateY(-50%);
    }
    .form-content-top .form-tp-left .file-preview #preview {
        max-height: 235px;
    }
}
@media (max-width: 630px) {
    .form-content-top .form-tp-left .file-preview {
        left: 20px;
    }
}
@media (max-width: 560px) {
    .form-content-top .form-tp-left .file-preview {
        top: 10px;
        left: 50%;
        transform: translatex(-50%);
    }
}
.form-content-top .form-tp-left .file {
    position: absolute;
    bottom: 30px;
    left: 50%;
    transform: translateX(-50%);
    height: 40px;
    display: block;
    width: 200px;
}
@media (max-width: 768px) {
    .form-content-top .form-tp-left .file {
        top: 50%;
        left: auto;
        right: 40px;
        transform: translateY(-50%);
        height: 60px;
        border-radius: 15px;
    }
}
@media (max-width: 700px) {
    .form-content-top .form-tp-left .file {
        width: 150px;
    }
}
@media (max-width: 630px) {
    .form-content-top .form-tp-left .file {
        right: 20px;
    }
}
@media (max-width: 560px) {
    .form-content-top .form-tp-left .file {
        width: 200px;
        height: 40px;
        top: auto;
        left: 50%;
        bottom: 10px;
        transform: translateX(-50%);
        border-radius: 0;
    }
}
.form-content-top .form-tp-left .file:before {
    content: '＋写真を選択';
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
    height: 40px;
    line-height: 40px;
    display: block;
    width: 200px;
    font-weight: 600;
    color: #fff;
    background-color: #BEBEBE;
    text-align: center;
}
@media (max-width: 768px) {
    .form-content-top .form-tp-left .file:before {
        height: 60px;
        line-height: 60px;
        border-radius: 15px;
        font-size: 18px;
    }
}
@media (max-width: 700px) {
    .form-content-top .form-tp-left .file:before {
        width: 150px;
    }
}
@media (max-width: 560px) {
    .form-content-top .form-tp-left .file:before {
        width: 200px;
        height: 40px;
        line-height: 40px;
        font-size: 16px;
        border-radius: 0;
    }
}
.form-content-top .form-tp-right {
    width: 66%;
    padding-left: 50px;
}
@media (max-width: 768px) {
    .form-content-top .form-tp-right {
        width: 100%;
        margin: 50px auto 0;
        padding-left: 0;
    }
}
@media (max-width: 460px) {
    .form-content-top .form-tp-right {
        margin: 30px auto 0;
    }
}
#article-create .row,
#article-edit .row {
    margin-left: 0;
    margin-bottom: 2rem;
}
@media (max-width: 460px) {
    #article-create .row,
    #article-edit .row {
        margin-bottom: .5rem;
    }
}
#article-create .col-form-label,
#article-edit .col-form-label {
    font-family: "Noto Serif Myanmar";
    font-size: 20px;
    font-weight: 500;
    color: #00577C;
}
@media (max-width: 460px) {
    #article-create .col-form-label,
    #article-edit .col-form-label {
        font-family: normal;
        font-size: 16px;
    }
}
.form-content-top .form-tp-right .form-group .col-2 {
    padding-left: 0;
    padding-right: 0;
}
@media (max-width: 460px) {
    .form-content-top .form-tp-right .form-group .col-2 {
        flex: none;
        max-width: 100%;
    }
    .form-content-top .form-tp-right .form-group .col-10 {
        flex: none;
        max-width: 100%;
        padding-left: 0;
    }
    .form-group.mt-4 {
        margin-top: 0.5rem !important;
    }
    .form-group .col-12,
    .form-group .col-sm-12 {
        padding-left: 0;
    }
}
#article-create .form-group .form-control,
#article-edit .form-group .form-control {
    border: 1px solid #baa68b;
    border-radius: 0;
    box-shadow: 3px 3px 6px rgba(0, 0, 0, 0.16) inset;
}
@media (max-width: 460px) {
    #article-create .form-group .form-control,
    #article-edit .form-group .form-control {
        font-size: 14px;
    }
}
#article-create .form-btn,
#article-edit .form-btn {
    text-align: center;
}
@media (max-width: 491px) {
    #article-edit .form-btn {
        display: flex;
        flex-direction: column;
        align-items: center;
    }
}
@media (max-width: 460px) {
    #article-create .form-btn,
    #article-edit .form-btn {
        margin-top: 30px;
    }
}
#article-create .form-btn button,
#article-edit .form-btn button,
#article-edit .form-btn a {
    display: inline-block;
    width: 150px;
    height: 40px;
    font-family: "ヒラギノ丸ゴ ProN";
    font-size: 17px;
    color: #fff;
    background-color: #355469;
    border: none;
    box-shadow: 6px 6px 5px rgba(0, 0, 0, .16) inset;
    transition: all 0.5s;
}
@media (max-width: 491px) {
    #article-create .form-btn button,
    #article-edit .form-btn button {
        width: 70%;
    }
}
#article-create .form-btn button:hover,
#article-edit .form-btn button:hover,
#article-edit .form-btn a:hover {
    opacity: 0.8;
}
#article-edit .form-btn a {
    color: #fff;
    background: #bc4b4b;
    box-shadow: 6px 6px 5px rgb(0 0 0 / 16%) inset;
}
@media (max-width: 491px) {
    #article-edit .form-btn a {
        width: 100px;
        height: 30px;
        order: 2;
        line-height: 15px;
        border-radius: 20px;
        margin-top: 40px;
    }
    #article-edit .form-btn .ml-5 {
        margin-left: 0 !important;
    }
}
#article-create .back-btn,
#article-edit .back-btn {
    margin-top: 30px;
    text-align: center;
}
#article-create .back-btn a,
#article-edit .back-btn a {
    color: #fff;
    text-decoration: none;
    transition: all 0.5s;
}
#article-create .back-btn a:hover,
#article-edit .back-btn a:hover {
    opacity: 0.6;
}

/* --------------------------------
        article-create
-------------------------------- */
#article-create .form-container {
    background: linear-gradient(#b29f86 0%, #b29f86 20.43%, #473f35 100%);
}

/* --------------------------------
        article-edit
-------------------------------- */
#article-edit .form-container {
    background: linear-gradient(#359fad 0%, #1b5057 100%);
}

/* --------------------------------
        users/user-page
-------------------------------- */
#user-page {
    max-width: 900px;
    min-height: 85vh;
    padding-top: 50px;
    padding-bottom: 50px;
}
@media (max-width: 599px) {
    #user-page {
        padding-top: 20px;
    }
}
#user-page .user-card {
    padding: 0;
    background-color: rgba(255, 255, 255, .8);
    background-clip: border-box;
    border-radius: 0.25rem;
}
#user-page .user-card .fa-user-circle {
    font-size: 3em;
}
.follow-btn .border-primary {
    border-color: #4285f3 !important;
}
.follow-btn button,
.follow-btn .fa-user-plus {
    color: #4285f3;
}
.no-article {
    padding-top: 50px;
}
.no-article h2 {
    font-family: "せのびレギュラー";
    text-shadow: 5px 4px 3px #000;
}
.no-article img {
    width: 200px;
    margin: 20px 0;
}
.no-article p {
    font-family: "せのびレギュラー";
    text-shadow: 5px 4px 3px #000;
}
.follow:hover {
    color: #000 !important;
}
