@charset "utf-8";

/* --------------------------------
          .共通パーツ
-------------------------------- */
/* レイアウト */
@font-face {
    font-family: "03SmartFontUI";
    src: url("../fonts/03SmartFontUI.ttf");
}
@font-face {
    font-family: "せのびレギュラー";
    src: url("../fonts/Senobi-Gothic-Regular\ 20.58.13.ttf");
}
@font-face {
    font-family: "せのびゴシック";
    src: url("../fonts/Senobi-Gothic-Bold.ttf");
}
html {
    scroll-behavior: smooth;
}
.container {
    max-width: 1117px;
}
.container-bg {
    position: relative;
    background: linear-gradient(#355469 0%, #1b2a35 100%);
}

/* ナビバー */
.navbar .container {
    max-width: 1320px;
}
.navbar-expand-md {
    height: 100px;
    border-bottom: 1px solid #FCE4E7;
    background-color: inherit !important;
}
.navbar-light .navbar-toggler {
        background-color: rgba(255, 255, 255, 0.5);
}
.navbar-light .navbar-brand,
.navbar-light .navbar-nav .nav-link {
    color: #FCE4E7;
    transition: all 0.5s;
}
.navbar-light .navbar-brand:hover,
.navbar-light .navbar-nav .nav-link:hover {
    color: #FCE4E7;
    opacity: 0.7;
}
.navbar-light .navbar-nav.auth .nav-link {
    color: #FCE4E7;
}
.navbar-light .navbar-nav.auth .nav-link.dropdown-toggle {
    font-size: 20px;
}
.navbar-brand {
    font-family: "せのびレギュラー";
    font-size: 25px;
    text-shadow: 3px 3px 3px black;
}
.navbar-light .navbar-nav .nav-link {
    font-family: "Hiragino Kaku Gothic ProN";
    font-size: 17px;
}
.navbar-expand-md .navbar-nav .nav-item:first-child {
    margin-left: 30px;
    margin-right: 20px;
}
.navbar-light .navbar-nav.auth .nav-link {
    font-family: "Hiragino Kaku Gothic ProN";
    font-size: 17px;
}
.navbar-expand-md .navbar-nav.auth .nav-item:first-child {
    margin-left: 0;
    margin-right: 10px;
}
.dropdown-menu {
    padding: 0;
    min-width: 8rem;
}
.dropdown-item {
    padding: 0.5rem 0;
    font-family: "Hiragino Kaku Gothic ProN";
    text-align: center;
    border: 1px solid rgba(0, 0, 0, 0.15);
    border-radius: 0.25rem;
}
@media(max-width: 767px) {
    .navbar {
        padding: 0;
    }
    .navbar-light .navbar-brand {
        margin-left: 3%;
    }
    .navbar-light .navbar-toggler {
        margin-right: 3%;
    }
    .navbar-collapse {
        width: 100%;
        background-color: rgba(255, 255, 255);
    }
    .navbar-expand-md .navbar-nav .nav-item:first-child {
        margin: 0;
    }
    .navbar-expand-md .navbar-nav .nav-item {
        border-bottom: 1px dashed #000;
    }
        .navbar-light .navbar-nav.auth .nav-item:last-child {
            border-bottom: none;
        }
    .navbar-expand-md .navbar-nav.auth .nav-item:first-child {
        margin: 0;
    }
    .navbar-light .navbar-nav .nav-link {
        color: #000;
        padding: 1.5em;
        text-align: center;
    }
    .navbar-light .navbar-nav.auth .nav-link {
        color: #000;
    }
}
.responsive {
    display: none;
}
@media (max-width: 767px) {
    .dropdown {
        display: none;
    }
    .dropdown.responsive {
        display: block;
    }
    .dropdown-toggle::after {
        content: none;
    }
    .dropdown-item {
        padding: 1em;
        background-color: #FCE4E7;
    }
    .navbar-light .navbar-nav.auth .nav-link.dropdown-toggle .fas {
        margin-right: 8px;
    }
}

/* ----- main ----- */


/* ----- footer ----- */
.footer {
    position: absolute;
    z-index: 10;
    width: 100%;
    height: 100px;
    background: linear-gradient(#00577c 0%,#004562 0%,#003f59 0%,#002c3e 100%);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 0 5%;
}

.footer h3 {
    color: white;
    font-size: 26px;
    margin-top: 10px;
    margin-bottom: 10px;
    text-shadow: 3px 3px 3px black;
    font-family: "せのびレギュラー";
}

.footer p {
    color: white;
    font-family: "Hiragino Kaku Gothic ProN";
    font-size: 15px;
    font-weight: bold;
}
@media (max-width: 599px) {
    .footer p {
        font-size: 10px;
    }
}

/* --------------------------------
        #search_index
-------------------------------- */
#search-form {
    padding-top: 98px;
    padding-bottom: 100px;
}
.search-form-container {
    position: relative;
    /* height: 405px; */
    background-image: url('../img/search-formbg.png');
    background-repeat: no-repeat;
    border-radius: 49px;
}
.search-form-container::before {
    content: url('../img/form-left.png');
    position: absolute;
    top: -35px;
    left: -65px;
}
@media (max-width: 1250px) {
    .search-form-container::before {
        left: -10px;
    }
}
@media (max-width: 768px) {
    .search-form-container::before {
        content: url('../img/form-left-sp.png');
        left: -10px;
    }
}
.search-form-container::after {
    content: url('../img/form-right.png');
    position: absolute;
    right: -26px;
    bottom: -47px;
}
@media (max-width: 1250px) {
    .search-form-container::after {
        right: -13px;
    }
}
@media (max-width: 1250px) {
    .search-form-container::after {
        content: url('../img/form-right-sp.png');
        right: -6px;
        bottom: -25px;
    }
}
#search-form form {
    padding-top: 50px;
    padding-bottom: 75px;
}
#search-form .form-group {
    margin-bottom: 0;
}
#search-form .form-group label {
    font-family: "せのびレギュラー";
    font-size: 20px;
    color: #fff;
}
#search-form .form-control {
    font-family: "Hiragino Kaku Gothic ProN";
    border-radius: 0;
    box-shadow: 6px 6px 5px rgba(0, 0, 0, 0.16) inset;
}
#search-form button {
    border: none;
    font-family: "ヒラギノ丸ゴ ProN";
    font-size: 18px;
    color: #fff;
    background: linear-gradient(#baa68b 0%, #5d5346 100%);
    text-shadow: 4px 3px 2px rgba(0, 0, 0, 0.69);
    transition: all 0.5s;
}
#search-form button:hover {
    color: #fff;
    opacity: 0.7;
}

/* --------------------------------
        #search_result
-------------------------------- */
.search-result-container {
    margin-top: 110px;
}
.cards .row {
    max-width: 1100px;
    --bs-gutter-x: 1.5rem;
    --bs-gutter-y: 0;
    display: flex;
    flex-wrap: wrap;
    margin: 0 auto;
}
.cards .row>* {
    padding-right: calc(var(--bs-gutter-x) * 0.9);
    padding-left: calc(var(--bs-gutter-x) * 0.6);
}
.cards .row a {
    color: #fff;
    text-decoration: none;
}
.cards .row a:nth-child(n + 4) {
    margin-top: 75px;
}
.card {
    position: relative;
    height: 410px;
    border: none !important;
    border-radius: 49px !important;
    background: linear-gradient(#baa68b 0%, #5d5346 100%);
    box-shadow: 6px 6px 5px rgba(0, 0, 0, 0.16) inset;
}
.card:hover {
    transform: scale(1.02);
    transition-duration: 0.5s;
}
.japanese {
    font-size: 21px;
    text-align: center;
    margin-top: 25px;
    letter-spacing: -0.1rem;
    color: #fff;
    font-family: "せのびゴシック";
}
.english {
    text-align: center;
    font-size: 17px;
    color: #fff;
    font-family: "せのびゴシック";
}
.card-body {
    position: relative;
    height: 115px;
    width: 100%;
    padding: 20px 10px;
    background: rgba(255, 255, 255, 0.69);
    border-radius: 0px 0px 38px 38px;
}
.card-body .summarize {
    color: #000;
    font-size: 16px;
    font-weight: bold;
    margin-bottom: 30px;
}
.card-body .items {
    display: flex;
    flex-wrap: wrap;
    color: #000;
    margin-bottom: 10px;
}
.card-body .items .col-6 {
    margin: 5px 0;
}
.card-body .items span {
    display: inline-block;
    width: 40px;
    font-family: "ヒラギノ丸ゴ ProN";
    font-size: 12px;
    text-align: center;
    color: #fff;
    background-color: #81725e;
    box-shadow: 0px 3px 6px rgba(0, 0, 0, 0.16);
}
.card-body .explanation {
    position: absolute;
    left: 20px;
    right: 20px;
    color: #000;
    font-size: 14px;
    z-index: 10;
}
.card-body img {
    position: absolute;
    width: 150px;
    bottom: 20px;
    right: 20px;
    opacity: 0.5;
}

/* --------- search-result --------- */
.page-top-btn {
    padding-top: 117px;
    padding-bottom: 55px;
}
.page-top-btn a {
    display: block;
    color: #fce4e7;
    text-align: center;
    margin-top: 2px;
    border: 3px solid #fce4e7;
    border-radius: 100%;
    width: 40px;
    height: 40px;
    line-height: 40px;
    margin: 0 auto;
}
.page-top-btn .fas {
    font-size: 29px;
}
