@charset "utf-8";

/* ローディング */
#splash {
    position: fixed;
    width: 100%;
    height: 100%;
    z-index: 999;
    background: linear-gradient(#355469 0%, #00151d 100%);
    text-align: center;
}
#splash_logo {
    display: none;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
#splash_logo svg {
    width: 635px;
}
@media (max-width: 599px) {
    #splash_logo svg {
        width: 350px;
    }
}
#mask .st0 {
    fill: none;
    stroke: #fff;
    stroke-width: 90;
    stroke-linecap: round;
    stroke-linejoin: round;
    stroke-miterlimit: 10;
    stroke-dasharray: 1500;
    stroke-dashoffset: 1500;
}

/* レイアウト */
@font-face {
    font-family: "せのびゴシック";
    src: url("../fonts/Senobi-Gothic-Bold.ttf");
}
@font-face {
    font-family: "せのびレギュラー";
    src: url("../fonts/Senobi-Gothic-Regular\ 20.58.13.ttf");
}
@font-face {
    font-family: "HarenosoraMincho";
    src: url("../fonts/Harenosora.otf");
}
body {
    font-family: "HarenosoraMincho";
}
#container {
    width: 100%;
    height: 100%;
    position: relative;
    display: block !important;
    justify-content: center;
    align-items: center;
    padding: 0;
    text-align: left !important;
    overflow: hidden;
    z-index: 1;
}

/* ------------ main ------------ */

/* ナビバー */
.navbar .container {
    max-width: 1320px;
}
.navbar-expand-md {
    height: 100px;
    background-color: inherit !important;
}
.shadow-sm {
    box-shadow: none !important;
}
.navbar-light .navbar-toggler {
    background-color: rgba(255, 255, 255, 0.5);
}
.navbar-light .navbar-brand,
.navbar-light .navbar-nav .nav-link {
    color: #FCE4E7;
    transition: all 0.5s;
}
.navbar-light .navbar-brand:hover,
.navbar-light .navbar-nav .nav-link:hover {
    color: #FCE4E7;
    opacity: 0.7;
}
.navbar-light .navbar-nav.auth .nav-link {
    color: #FCE4E7;
}
.navbar-light .navbar-nav.auth .nav-link.dropdown-toggle {
    font-size: 20px;
}
.navbar-brand {
    font-family: "せのびレギュラー";
    font-size: 25px;
    text-shadow: 3px 3px 3px black;
}
.navbar-light .navbar-nav .nav-link {
    font-family: "Hiragino Kaku Gothic ProN";
    font-size: 17px;
}
.navbar-expand-md .navbar-nav .nav-item:first-child {
    margin-left: 30px;
    margin-right: 20px;
}
.navbar-light .navbar-nav.auth .nav-link {
    font-family: "Hiragino Kaku Gothic ProN";
    font-size: 17px;
}
.navbar-expand-md .navbar-nav.auth .nav-item:first-child {
    margin-left: 0;
    margin-right: 10px;
}
.dropdown-menu {
    padding: 0;
    min-width: 8rem;
}
.dropdown-item {
    padding: 0.5rem 0;
    font-family: "Hiragino Kaku Gothic ProN";
    text-align: center;
    border: 1px solid rgba(0, 0, 0, 0.15);
}
.dropdown-item:first-child:hover {
    border-radius: 0.25rem 0.25rem 0 0;
}
.dropdown-item:nth-child(2):hover {
    border-radius: 0 0 0.25rem 0.25rem;
}
@media(max-width: 767px) {
    .navbar {
        padding: 0;
    }
    .navbar-light .navbar-brand {
        margin-left: 3%;
    }
    .navbar-light .navbar-toggler {
        margin-right: 3%;
    }
    .navbar-collapse {
        width: 100%;
        background-color: rgba(255, 255, 255);
    }
    .navbar-expand-md .navbar-nav .nav-item:first-child {
        margin: 0;
    }
    .navbar-expand-md .navbar-nav .nav-item {
        border-bottom: 1px dashed #000;
    }
    .navbar-light .navbar-nav.auth .nav-item:last-child {
        border-bottom: none;
    }
    .navbar-expand-md .navbar-nav.auth .nav-item:first-child {
        margin: 0;
    }
    .navbar-light .navbar-nav .nav-link {
        color: #000;
        padding: 1.5em;
        text-align: center;
    }
    .navbar-light .navbar-nav.auth .nav-link {
        color: #000;
    }
}
.responsive {
    display: none;
}
.dropdown-toggle::after {
    content: none;
}
@media (max-width: 767px) {
    .dropdown {
        display: none;
    }
    .dropdown.responsive {
        display: block;
    }
    .dropdown-item {
        padding: 1em;
        background-color: #FCE4E7;
    }
    .navbar-light .navbar-nav.auth .nav-link.dropdown-toggle .fas {
        margin-right: 8px;
    }
}

/* --------------------------------
          .main-top
-------------------------------- */
.main-top-bg {
    width: 100%;
    height: 79vh;
    background: linear-gradient(90deg, #355469 74%, #baa68b 0%, #baa68b 100%);
    /* background: linear-gradient(#baa68b 0%, #5d5346 100%); */
}
@media (max-width: 1030px) {
    .main-top-bg {
        height: 600px;
    }
}
@media (max-width: 880px) {
    .main-top-bg {
        background: linear-gradient(90deg, #355469 70%, #baa68b 0%, #baa68b 100%);
    }
}
@media (max-width: 760px) {
    .main-top-bg {
        background: linear-gradient(90deg, #355469 65%, #baa68b 0%, #baa68b 100%);
    }
}
@media (max-width: 660px) {
    .main-top-bg {
        height: 630px;
        background: linear-gradient(180deg, #355469 65%, #baa68b 0%, #baa68b 100%);
    }
}
.main-top-container {
    position: relative;
    max-width: 1320px;
    margin: 0 auto;
}
.top-container {
    display: flex;
    justify-content: space-between;
}
@media (max-width: 660px) {
    .top-container {
        display: block;
        margin: 0 3%;
    }
}
.main-top::after {
    content: url(../img/top_man.png);
    position: absolute;
    top: 56vh;
    left: 23px;
}
@media (max-width: 1250px) {
    .main-top::after {
        content: url(../img/top_man-1250.png);
    }
}
@media (max-width: 1030px) {
    .main-top::after {
        content: url(../img/top_man-1050.png);
        top: 450px;
        left: 60px;
    }
}
@media (max-width: 880px) {
    .main-top::after {
        content: url(../img/top_man-800.png);
        top: 500px;
        left: 30px;
    }
}
@media (max-width: 660px) {
    .main-top::after {
        content: url(../img/top_man-300.png);
        width: 200px;
        top: 330px;
        left: auto;
        right: 10px;
    }

}
/* top-left */
.top-left {
    position: relative;
    width: 100%;
    margin-left: 50px;
}
@media (max-width: 660px) {
    .top-left {
        margin-left: 0;
    }
}
.top-left::after {
    content: "";
    position: absolute;
    top: 126px;
    width: 38%;
    height: 1px;
    display: block;
    border-bottom: 1px solid #fce4e7;
}
@media (max-width: 660px) {
    .top-left::after {
        width: 35%;
        top: 35px;
    }
}
.top-left-text {
    padding-left: 10px;
    margin: 80px auto 0;
    color: #fff;
}
@media (max-width: 660px) {
    .top-left-text {
        margin: 50px auto 0;
    }
}
.title {
    margin-bottom: 33px;
    font-size: 25px;
    text-shadow: 5px 4px 3px rgba(0, 0, 0);
}
@media (max-width: 660px) {
    .title {
        margin-bottom: 20px;
        font-size: 18px;
    }
}
h1 {
    font-family: "せのびレギュラー";
    margin-bottom: 7px;
    margin-left: -11px;
    font-size: 55px;
    font-weight: normal;
    text-shadow: 5px 4px 3px rgba(0, 0, 0);
}
@media (max-width: 660px) {
    h1 {
        margin-bottom: 10px;
        font-size: 40px;
    }
}
h1 + p {
    font-family: "せのびレギュラー";
    font-size: 21px;
    text-shadow: 4px 3px 2px rgba(0, 0, 0);
}
@media (max-width: 660px) {
    h1 + p {
        font-size: 19px;
    }
}

/* top-right */
@media (max-width: 660px) {
    .top-right {
        margin-top: 135px;
    }
}
.top-right-text {
    width: 264px;
    margin: 229px auto 45px;
    font-size: 24px;
    color: #fff;
    line-height: 1.55;
}
@media (max-width: 1030px) {
    .top-right-text {
        margin-top: 200px;
    }
}
@media (max-width: 660px) {
    .top-right-text {
        width: 100%;
        margin: 0 auto;
        font-size: 20px;
    }
}
.top-right-text p {
    padding-left: 55px;
    text-shadow: 4px 3px 2px rgba(0, 0, 0);
}
@media (max-width: 660px) {
    .top-right-text p {
        padding-left: 0;
        text-align: center;
    }
}
.top-right-btn ul {
    text-align: center;
    list-style: none;
}
.top-right-btn ul > li {
    margin-bottom: 20px;
}
.top-right-btn a {
    display: inline-block;
    width: 155px;
    height: 40px;
    color: #fff;
    background: #355469;
    font-family: "ヒラギノ丸ゴ ProN";
    font-size: 17px;
    text-shadow: 4px 3px 2px rgba(0, 0, 0, 0.69);
    line-height: 40px;
    box-shadow: 6px 6px 5px rgba(0, 0, 0, 0.16) inset;
    transition: all 0.5s;
    text-decoration: none;
}
.top-right-btn a:hover {
    opacity: 0.6;
}
@media (max-width: 660px) {
    .top-right-btn a {
        width: 80%;
    }
}

/* --------------------------------
          main-bottom
-------------------------------- */
/* ----- bottom-header ----- */
#bottom-header {
    width: 100%;
    height: 45vh;
    position: relative;
}
@media (max-width: 1030px) {
    #bottom-header {
        height:  300px;
    }
}

/* scrolldown */
.scrolldown {
    position: absolute;
    top: 30%;
    left: 50%;
    height: 50px;
}
.scrolldown span {
    position: absolute;
    left: -26px;
    top: 6px;
    color: #eee;
    font-size: 18px;
    letter-spacing: 0.05em;
}
@media (max-width: 599px) {
    .scrolldown span {
        top: -30px;
    }
}
.scrolldown::after {
    content: "";
    position: absolute;
    top: 0;
    left: 0px;
    width: 1px;
    height: 30px;
    background: #eee;
    animation: pathmove 1.4s ease-in-out infinite;
    opacity: 0;
}
@keyframes pathmove {
    0% {
        height: 0;
        top: 30px;
        opacity: 0;
    }
    30% {
        height: 30px;
        opacity: 1;
    }
    100% {
        height: 0;
        top: 50px;
        opacity: 0;
    }
}
@media (max-width: 599px) {
    @keyframes pathmove {
        0% {
            height: 0;
            top: -10px;
            opacity: 0;
        }

        30% {
            height: 30px;
            opacity: 1;
        }

        100% {
            height: 0;
            top: 20px;
            opacity: 0;
        }
    }
}

/* ----- video-ara ----- */
#video-area {
    position: fixed;
    z-index: -1;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    overflow: hidden;
}
#video {
    position: absolute;
    z-index: -1;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    min-height: 100%;
    min-width: 100%;
}

/* ----- bottom-container ----- */
#bottom-container {
    width: 100%;
    height: 1570px;
    display: block !important;
    justify-content: center;
    align-items: center;
    text-align: left !important;
    background: linear-gradient(#355469 0%, #1b2a35 100%);
    overflow: hidden;
}
@media (max-width: 860px) {
    #bottom-container {
        height: 1555px;
    }
}
@media (max-width: 599px) {
    #bottom-container {
        height: 1550px;
    }
}
/* bottom-tp */
.bottom-tp {
    max-width: 1197px;
    display: flex;
    justify-content: space-between;
    padding-top: 275px;
    padding-left: 110px;
    margin: 0 auto;
}
@media (max-width: 1030px) {
    .bottom-tp {
        max-width: 800px;
        padding-left: 0;
    }
}
@media (max-width: 860px) {
    .bottom-tp {
        max-width: 400px;
        padding-top: 120px;
        flex-direction: column;
    }
}
@media (max-width: 599px) {
    .bottom-tp {
        max-width: 300px;
    }
}
.bottom-tp-left {
    margin-top: 52px;
    font-size: 23px;
    color: #fff;
}
@media (max-width: 860px) {
    .bottom-tp-left {
        order: 2;
    }
}
@media (max-width: 599px) {
    .bottom-tp-left {
        font-size: 20px;
    }
}
.bottom-tp-left > p {
    line-height: 1.7;
}
.bottom-tp-left > p + p {
    margin-top: 35px;
}
.bottom-tp-right {
    position: static;
    width: 580px;
    z-index: 10;
}
@media (max-width: 1030px)
{
    .bottom-tp-right {
        width: 400px;
    }
}
@media (max-width: 1030px)
{
    .bottom-tp-right {
        order: 1;
    }
}
.bottom-tp-right img {
    width: 515px;
}
@media (max-width: 1030px) {
    .bottom-tp-right img {
        width: 400px;
    }
}
@media (max-width: 599px) {
    .bottom-tp-right img {
        width: 300px;
    }
}

/* bottom-bt */
.bottom-bt {
    position: relative;
    margin-top: 400px;
}
@media (max-width: 860px) {
    .bottom-bt {
        margin-top: 500px;
    }
}
.bottom-bt::before {
    position: absolute;
    content: "";
    top: -495px;
    right: -200px;
    width: 720px;
    height: 720px;
    border: 1px solid #fce4e7;
    border-radius: 50%;
}
@media (max-width: 1250px) {
    .bottom-bt::before {
        width: 680px;
        height: 680px;
        right: -260px;
    }
}
@media (max-width: 1050px) {
    .bottom-bt::before {
        width: 630px;
        height: 630px;
        top: -460px;
        right: -315px;
    }
}
@media (max-width: 950px) {
    .bottom-bt::before {
        width: 500px;
        height: 500px;
        top: -330px;
        right: -265px;
    }
}
@media (max-width: 950px) {
    .bottom-bt::before {
        width: 400px;
        height: 400px;
        top: -250px;
        right: -180px;
    }
}
@media (max-width: 599px) {
    .bottom-bt::before {
        width: 260px;
        height: 260px;
        top: -180px;
        right: -135px;
    }
}
.bottom-bt::after {
    position: absolute;
    content: "";
    top: -300px;
    left: -267px;
    width: 720px;
    height: 720px;
    border: 1px solid #fce4e7;
    border-radius: 50%;
}
@media (max-width: 1250px) {
    .bottom-bt::after {
        width: 680px;
        height:  680px;
    }
}
@media (max-width: 1050px) {
    .bottom-bt::after {
        width: 630px;
        height:  630px;
    }
}
@media (max-width: 950px) {
    .bottom-bt::after {
        width: 500px;
        height:  500px;
        top: -170px;
        left: -230px;
    }
}
@media (max-width: 860px) {
    .bottom-bt::after {
        width: 400px;
        height:  400px;
        top: -120px;
        left: -160px;
    }
}
@media (max-width: 710px) {
    .bottom-bt::after {
        width: 400px;
        height:  400px;
        top: -160px;
    }
}
@media (max-width: 599px) {
    .bottom-bt::after {
        width: 260px;
        height:  260px;
        top: -400px;
        left: -110px;
    }
}
.bottom-bt-contents {
    display: inline-block;
    position: relative;
    top: 91px;
    left: 50%;
    transform: translateX(-52%);
    z-index: 10;
}
@media (max-width: 860px) {
    .bottom-bt-contents {
        transform: translateX(-35%);
    }
}
@media (max-width: 860px) {
    .bottom-bt-contents img {
        width: 80%;
        text-align: center;
    }
}
.bottom-bt-contents::after {
    position: absolute;
    content: "";
    bottom: -745px;
    right: -407px;
    width: 720px;
    height: 720px;
    border: 1px solid #fce4e7;
    border-radius: 50%;
}
@media (max-width: 1250px) {
    .bottom-bt-contents::after {
        width: 680px;
        height: 680px;
        right:  -350px;
    }
}
@media (max-width: 1050px) {
    .bottom-bt-contents::after {
        width: 630px;
        height: 630px;
        right:  -335px;
        bottom: -680px;
    }
}
@media (max-width: 950px) {
    .bottom-bt-contents::after {
        width: 500px;
        height: 500px;
        right:  -275px;
        bottom: -520px;
    }
}
@media (max-width: 860px) {
    .bottom-bt-contents::after {
        width: 400px;
        height: 400px;
        right:  -110px;
        bottom: -450px;
    }
}
@media (max-width: 599px) {
    .bottom-bt-contents::after {
        width: 260px;
        height: 260px;
        right:  45px;
        bottom: -280px;
    }
}
.bt-contents-search {
    position: absolute;
    top: -85px;
    left: -185px;
}
@media (max-width: 860px) {
    .bt-contents-search {
        left: -210px;
    }
}
@media (max-width: 710px) {
    .bt-contents-search {
        left: -155px;
    }
}
@media (max-width: 599px) {
    .bt-contents-search {
        top: -350px;
        left: -40px;
    }
}
.bt-contents-memory {
    position: absolute;
    top: -28px;
    right: -230px;
}
@media (max-width: 860px) {
    .bt-contents-memory {
        right: -130px;
    }
}
@media (max-width: 760px) {
    .bt-contents-memory {
        right: -80px;
    }
}
@media (max-width: 599px) {
    .bt-contents-memory {
        top: -140px;
        right: 60px;
    }
}
.bt-contents-memo {
    position: absolute;
    bottom: -130px;
    right: 50px;
    z-index: 10;
}
@media (max-width: 860px) {
    .bt-contents-memo {
        right: 135px;
    }
}
@media (max-width: 599px) {
    .bt-contents-memo {
        bottom: -110px;
        right: 115px;
    }
}
.bt-contents-search p,
.bt-contents-memory p,
.bt-contents-memo p {
    color: #fff;
    font-size: 24px;
    text-shadow: 4px 3px 2px rgba(0, 0, 0);
}
@media (max-width: 860px) {
    .bt-contents-search p,
    .bt-contents-memory p,
    .bt-contents-memo p {
        font-size: 19px;
    }
}
@media (max-width: 599px) {
    .bt-contents-search p,
    .bt-contents-memory p,
    .bt-contents-memo p {
        font-size: 17px;
    }
}
.bt-contents-search p a,
.bt-contents-memory p a,
.bt-contents-memo p a {
    color: #fff;
    text-decoration: none;
    font-size: 23px;
    transition: all 0.5s;
}
@media (max-width: 860px) {
    .bt-contents-search p a,
    .bt-contents-memory p a,
    .bt-contents-memo p a {
        font-size: 19px;
    }
}
.bt-contents-search p a:hover,
.bt-contents-memory p a:hover,
.bt-contents-memo p a:hover {
    opacity: 0.6;
}

/* ----- footer ----- */
.footer {
    position: absolute;
    z-index: 10;
    width: 100%;
    height: 100px;
    padding: 0 5%;
    background: linear-gradient(#00577c 0%,#004562 0%,#003f59 0%,#002c3e 100%);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.footer h3 {
    color: white;
    font-size: 26px;
    margin-top: 10px;
    margin-bottom: 10px;
    text-shadow: 3px 3px 3px black;
    font-family: "せのびレギュラー";
}
.footer p {
    color: white;
    font-family: "Hiragino Kaku Gothic ProN";
    font-size: 15px;
    font-weight: bold;
}
@media (max-width: 599px) {
    .footer p {
        font-size: 10px;
    }
}
